<div class="container" >
		<form class="needs-validation" action="formulario_popovers.html">

			<div class="row mb-4">
			  <div class="col-md-12 col-sm-12 col-lg-3">
				  <label class="form-label" >Selector m&uacute;ltiple</label>
				  <select multiple 
                  class="selectpicker form-control" 
                  id="number-multiple" data-container="body" 
                  data-live-search="true" 
                  title="Seleccionar Opciones" 
                  data-hide-disabled="true" 
                  data-actions-box="true" 
                  data-virtual-scroll="false"
                  [(ngModel)]="selectedOption"
                  [ngModelOptions]="{standalone: true}"
                  (change)="onChange()">
              <option *ngFor="let o of optionsSelect" [value]="o.value">{{o.name}}</option>
					</select>
			  </div>
			</div>
	</form>	
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
		  <form class="needs-validation" action="formulario_popovers.html">

			<div class="row mb-4">
			  <div class="col-md-12 col-sm-12 col-lg-12">
				  <label class="form-label" >Selector m&uacute;ltiple</label>
				  <select multiple class="selectpicker form-control" id="number-multiple" data-container="modal-body" data-live-search="true" title="Seleccionar Opciones" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="false">
					  	  
						  <option value="2">APRA</option>
						  <option value="3">DGHySA</option>
						  <option value="4">DGFyC</option>
						  <option value="5">DGFyCO</option>
						  <option value="6">DGFyC</option>
						  <option value="7">DGPT</option>		
					</select>
			  </div>
			</div>
				
	</form>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>